.posts-container {
  padding-bottom: 5rem;
}

.posts {
  a {
    display: block;

    &+a {
      margin-top: 3rem;
    }

    strong {
      display: block;
      font-size: 1.75rem;
      font-weight: bold;
      color: var(--gray-100);
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.125rem;
    }
  }
}

.load-posts-button {
  margin-top: 4rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--pink-500);
}